<div class="palette">
	<button class="red" (click)="clickPalette('red')"></button>
	<button class="orange" (click)="clickPalette('orange')"></button>
	<button class="yellow" (click)="clickPalette('yellow')"></button>
	<button class="green" (click)="clickPalette('green')"></button>
	<button class="blue" (click)="clickPalette('blue')"></button>
	<button class="purple" (click)="clickPalette('purple')"></button>
	<button class="pink" (click)="clickPalette('pink')"></button>
	<button class="black" (click)="clickPalette('black')"></button>
	<button class="white" (click)="clickPalette('white')"></button>
</div>	